body {
    padding-top: 20px;
    padding-bottom: 20px;
}

.navbar {
    margin-bottom: 20px;

}

.leaflet-container {
    width: 700px;
    height: 700px;
}
 
.leaflet-routing-container-hide {
    display: none;
}